<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.databright.tqwhite.docStore.server.plist</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>placeholder</key>
		<string>hello</string>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/node</string>
		<string>/Users/admin/Databright/library/docStore/code/server/startAll.js</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/admin/Databright/logs/docStore.server.err.log</string>
	<key>StandardOutPath</key>
	<string>/Users/admin/Databright/logs/docStore.server.log</string>
</dict>
</plist>